
build/
build-*/
out/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vscode/
.idea/
*.swp
*.swo
_deps/
*.exe
*.dll
*.lib
*.a
*.o
*.so
.DS_Store
